body{
    background-color: pink;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display : flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* -----footer----- */
.f-info a {
    color: black;              /* text color black */
    text-decoration: none;     /* remove underline */
    font-size: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials,
.f-info-links,.f-info-brand{
    width: 100%;
    display:flex;
    box-align: center;
    justify-content: center;
}

.f-info {
    text-decoration: none;
    display: flex;

    background-color: rgb(219, 213, 213);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.f-info a:hover {
  
    color: gray;               /* optional hover effect */
    text-decoration: none;     /* still no underline */
}

.f-info i {
    font-size: 1.5rem;         /* icon size */
    margin: 0 0.5rem;
    color: black;              /* icons black */
}


/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0;
}

.card-text{
    font-weight:400 ;
}

.listing-link{
    text-decoration: none;

}

/* card effect */

.card-img-overlay:hover{
    opacity:0.1;
    background-color: white;;
}

.add-btn{
    background-color: #fe424f !important;
    border:none !important;
}

/* edit-page */
.edit-btn{
    background-color: #fe424f !important;
    border:none !important;
}

/* show image */

.show-img{
    height: 30vh;

}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
.map-section {
    max-width: 900px;
    margin: 0 auto; /* center section */
}

.show-map {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
